@{
    ViewData["Title"] = "Home Page";
}

<div><h1>Bank Ledger Web Application</h1></div>

<div><h2>Ledger Options</h2></div>
<div>
    <p><button type="button">Check Balance</button></p>
    <p><button type="button">Record Deposit</button></p>
    <p><button type="button">Record Withdrawal</button></p>
    <p><button type="button">View Transaction History</button></p>
</div>